{port_env, [
    {"CXX",      "g++"},
    {"CXXFLAGS", "$CXXFLAGS "
                    "-O2 -Wall "
                    "-I~/.local/boost-1.48.0/include "
                    "-Ipriv/judy-cpp/src"},
    {"LDFLAGS",  "$LDFLAGS -lstdc++"}
]}.

{port_specs, [
    {"priv/judy_nif.so", ["c_src/*.cpp"]}
]}.
