{port_env, [
    {"CXX",      "g++"},
    {"CXXFLAGS", "$CXXFLAGS "
                    "-O2 -Wall "
                    "-I~/.local/boost-1.48.0/include "
                    "-Ipriv/judy-cpp/src"},

    {"LD_RUN_PATH", "/usr/local/lib:$LD_RUN_PATH" },
    {"LDFLAGS",     "$LDFLAGS -lstdc++ -lJudy"}
]}.

{port_specs, [
    {"priv/judy_nif.so", ["c_src/*.cpp"]}
]}.
